@media screen and (min-width: 1000px) {
    body {
        background-color: rgb(255, 255, 255);
        background: rgb(0, 132, 255); 
        font-family: 'Montserrat', sans-serif;
        background-image: url("/img/robô.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 58%;
        background-position-y: .8rem;
        overflow: hidden;
        /* hidden - remove as barras de rolagem lateral e vertical.overflow-y: hidden; /*Barra vertical! overflow-x: hidden; barra horizontal.*/
    }

    main {
        display: flex;
        flex-direction: column;
        margin-top: 2em;
        align-items: center;
        justify-self: center;
    }

    .title {
        margin-top: 2.5rem;
        color: #ffffff;
    }

    input {
        border: none;
        border-radius: 5px;
        height: 2rem;
        display: flex;
    }

    .cep input {
        border: 1px solid;
    }

    .cep {
        margin-top: 3em;
        text-align: center;
    }

    button {
        --color: #000000;
        font-family: inherit;
        display: inline-block;
        width: 7em;
        line-height: 2em;
        margin-top: 4rem;
        position: relative;
        overflow: hidden;
        border: 2px solid var(--color);
        transition: color .5s;
        z-index: 1;
        font-size: 15px;
        border-radius: 6px;
        font-weight: 500;
        color: var(--color);
        cursor: pointer;
    }

    button:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }

    button:hover {
        color: #fff;
    }

    button:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }

    button:hover:before {
        top: -30px;
        left: -30px;
    }

    button:active:before {
        background: #000000;
        transition: background 0s;
    }

    .grupo {
        margin-top: 1.75em;
        align-items: center;
        border: none;
    }

    .campo {
        margin-top: .3rem;
    }

    input::placeholder {
        padding: .5rem;
    }

    footer {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #ffffff;
    }
}

@media screen and (min-width: 1750px) and (max-width: 1768px) {
    body {
        background-color: rgb(62, 0, 88);
        font-family: 'Montserrat', sans-serif;
        background-image: url(/img/robô.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 58%;
        background-position-y: .8rem;
        overflow: hidden;
        /* hidden - remove as barras de rolagem lateral e vertical.overflow-y: hidden; /*Barra vertical! overflow-x: hidden; barra horizontal.*/
    }

    main {
        display: flex;
        flex-direction: column;
        margin-top: 4em;
        align-items: center;
        justify-self: center;
    }

    .title {
        margin-top: 2.5rem;
        color: #ffffff;
    }

    input {
        border: none;
        border-radius: 5px;
        height: 2rem;
        display: flex;
    }

    .cep input {
        border: 1px solid;
    }

    .cep {
        margin-top: 5em;
        text-align: center;
    }

    button {
        --color: #000000;
        font-family: inherit;
        display: inline-block;
        width: 7em;
        line-height: 2em;
        margin-top: 3em;
        position: relative;
        overflow: hidden;
        border: 2px solid var(--color);
        transition: color .5s;
        z-index: 1;
        font-size: 15px;
        border-radius: 6px;
        font-weight: 500;
        color: var(--color);
        cursor: pointer;
    }

    button:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }

    button:hover {
        color: #fff;
    }

    button:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }

    button:hover:before {
        top: -30px;
        left: -30px;
    }

    button:active:before {
        background: #000000;
        transition: background 0s;
    }

    .grupo {
        justify-content: center;
        margin-top: 7em;
        align-items: center;
        border: none;
    }

    .campo {
        margin-top: .3rem;
    }

    input::placeholder {
        padding: .5rem;
    }

    footer {
        margin-top: 7em;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #ffffff;
    }
}

/*FULL HD 1920*/
@media screen and (min-width: 1910px) and (max-width: 1920px) {
    body {
        background-color: aqua;
        font-family: 'Montserrat', sans-serif;
        background-image: url(/img/robô.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 58%;
        background-position-y: .8rem;
        overflow: hidden;
        /* hidden - remove as barras de rolagem lateral e vertical.overflow-y: hidden; /*Barra vertical! overflow-x: hidden; barra horizontal.*/
    }

    main {
        display: flex;
        flex-direction: column;
        margin-top: 5em;
        align-items: center;
        justify-self: center;
    }

    .title {
        margin-top: 2.5rem;
        color: #ffffff;
    }

    input {
        border: none;
        border-radius: 5px;
        height: 2rem;
        display: flex;
    }

    .cep input {
        border: 1px solid;
    }

    .cep {
        margin-top: 5em;
        text-align: center;
    }

    button {
        --color: #000000;
        font-family: inherit;
        display: inline-block;
        width: 7em;
        line-height: 2em;
        margin-top: 3em;
        position: relative;
        overflow: hidden;
        border: 2px solid var(--color);
        transition: color .5s;
        z-index: 1;
        font-size: 15px;
        border-radius: 6px;
        font-weight: 500;
        color: var(--color);
        cursor: pointer;
    }

    button:before {
        content: "";
        position: absolute;
        z-index: -1;
        background: var(--color);
        height: 150px;
        width: 200px;
        border-radius: 50%;
    }

    button:hover {
        color: #fff;
    }

    button:before {
        top: 100%;
        left: 100%;
        transition: all .7s;
    }

    button:hover:before {
        top: -30px;
        left: -30px;
    }

    button:active:before {
        background: #000000;
        transition: background 0s;
    }

    .grupo {
        justify-content: center;
        margin-top: 9em;
        align-items: center;
        border: none;
    }

    .campo {
        margin-top: .3rem;
    }

    input::placeholder {
        padding: .5rem;
    }

    footer {
        margin-top: 8em;
        display: flex;
        justify-content: center;
        text-align: center;
        color: #ffffff;
    }
}