body {
    display: block;
    font-family: 'Montserrat', sans-serif;
    background-image: url("/img/robô.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 58%;
    font-size: 1em;
    justify-content: center;
    overflow: hidden; /* hidden - remove as barras de rolagem lateral e vertical.overflow-y: hidden; /*Barra vertical! overflow-x: hidden; barra horizontal.*/
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.title {
    display: flex;
    justify-content: center;
    margin: 2.3rem 0;
}

input, button {
    border-radius: 5px;
    height: 20px;
}

.cep{
    text-decoration: none;
}

.cep input {
    padding: 10px;
    border: 1px solid black;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    display: block;
    align-items: center;    
}

.campo input[type="text"],.campo input[type="number"], .cep {
    padding: 0.2em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 2);
    display: block;
    width: auto;
}

.botao {
    font-size: 1em;
    color: rgb(113, 4, 4);
    position: absolute;
    margin-right: -50%;
    top: 32%;
    left: 53.5%;
    transform: translate(-100%, -52%);
    margin: 0 2px 2px 0;
    width: auto;
    border: 2px solid transparent;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    width: auto;
    padding: 0 1rem;
}

.botao:hover {
    background:rgb(113, 4, 4);
    box-shadow: inset 2px 2px 2px black;
    text-shadow: none;
}    

footer {
    text-align: center;
    color: black;
    padding: 13rem;
}
@media screen and (max-width: 3840px) {
    body, .cep, .grupo, .botao, .campo{
        width: auto;
    }
    h1 {
        text-align: center;
    }

}